.App {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.WrapperTask {
    margin-top: 50px;
    text-align: left;
}

.AllTask {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    background-color: rgb(2, 90, 90);
    border: 1px solid rgb(26, 53, 55);
    color: #fff;
    padding: 2px;
}

.Task {
    display: flex;
    justify-content: space-between;
    background-color: rgb(157, 201, 201);
    border: 1px solid rgb(26, 53, 55);
    margin: 10px 0;
    padding: 2px;
}